<h1>All Sales Vinyl</h1>

<h3>Available Records</h3>


<a href="/albums"><p class="btn-lg btn-primary">All albums</p></a>


<form action="/albums">
  <div class="form-group row">
    <label for="search" class="col-sm-2 col-form-label col-form-label-lg"></label>
    <div class="col-sm-4">
      <input id="search" name="search" class="form-control form-control-lg" type="text" placeholder="Search">
    </div>
    <div class="col-sm-4">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
    <label for="search" class="col-sm-2 col-form-label col-form-label-lg"></label>

  </div>
</form>

<% if @albums.any? %>
<ul>
  <% @albums.each do |album| %>
  <li><a href="/albums/<%= album.id %>"><%= album.name %></a></li>
  <% end %>
</ul>
<% else %>
<p>There are currently no records to display.</p>
<% end %>

<a href="/albums/new">Add a new album</a>
